<!--Content Heading-->
<% if (title) { %>
    <div id="register-grid">
        <h1><%= title %></h1>
        <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
           <% errors.array().forEach(error => { %>
             <li><%= error.msg %></li>
          <%  }) %>
           </ul>
          <% } %>
        <p>All fields are required.</p>
        <form action="/account/register" method="post">
            <fieldset>
                <legend>Register</legend>
                <label class="top">First Name:<input type="text" name="account_firstname" required value="<%= locals.account_firstname %>"></label>
                <label class="top">Last Name:<input type="text" name="account_lastname" required value="<%= locals.account_lastname %>"></label>
                <label class="top">Email:<input type="email" name="account_email" placeholder="someone@gmail.com" required value="<%= locals.account_email %>"></label>
                <label class="top">Password:<input type="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required></label>
                <p>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character.</p>
                <input class="submitBtn" type="submit" name="submitf" value="REGISTER">
            </fieldset>
        </form>
    </div>
    <% } else {
      res.redirect('/')
    } %>

